<!-- Footer -->
<app-nav-bar></app-nav-bar>
<!-- Footer -->
<footer class="page-footer font-small darken-3 ">

  <!-- Footer Elements -->
  <div class="container-fluid bgcolor" style="height:100px;text-align:center;">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- youtube -->
          <a class="fb-ic text-danger " href="#">
            <i class="fa fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic text-primary " href="#">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic text-danger"  href="#">
            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--facebook -->
          <a class="li-ic text-primary" href="#">
            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic text-warning" href="#">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic text-info" href="#">
            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-light">© 2019 Copyright:
    JAGDEEP KAUR
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
