.font1{
  font-family: 'Kaushan Script', cursive;
}
.font2{
  font-family: 'Lobster', cursive;
}
.bgcolor2{
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);}
