<div >
<nav class="navbar navbar-expand-sm bg-light justify-content-center mt-2">
  <ul class="navbar-nav">
    <li class="nav-item p-2">
      <a class="nav-link homenav font1" href="products/all" >All</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link homenav font1" href="products/clothing" >Clothing</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link p-2 homenav font1"   href="products/footwear">Electronics</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link homenav font1"  routerLink="products/elctronics" >Footwear</a>
    </li>
    <li class="nav-item p-2">
      <a class="nav-link homenav font1"  routerLink="products/books" >Books</a>
    </li>
  </ul>
</nav>
<!--End of navbar -->
<div class="d-flex m-3">
<div id="demo1" class="carousel slide" data-ride="carousel" style="width:70%">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo1" data-slide-to="0" class="active"></li>
    <li data-target="#demo1" data-slide-to="1"></li>
    <li data-target="#demo1" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img src="../../assets/pos2.jpg" alt="Clothes" width="100%" height="450">
    </div>
    <div class="carousel-item">
      <img src="../../assets/pos2.jpg"  width="100%" height="500">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg"  width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo1" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo1" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!--End of carousel 1-->
<div id="demo" class="carousel slide ml-2" data-ride="carousel" style="width:30%;">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo1" data-slide-to="0" class="active"></li>
    <li data-target="#demo1" data-slide-to="1"></li>
    <li data-target="#demo1" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active"><div class="c2 font2">TRENDING ITEMS</div>
      <img src="../../assets/t2.jpg" alt="Clothes" width="100%" height="450">
    </div>
    <div class="carousel-item">
      <img src="../../assets/pos2.jpg" alt="Chicago" width="100%" height="500">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo1" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo1" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
<!--cardssss-->
<div class="container-fluid mt-5 d-flex bgcolor" style="padding-left:10%;padding-right:10%;">

  <div class="card m-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/card1.JPG" class="card-img p-2" alt="TopWear" height="100%">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Buy Trending Clothes</h5>
          <p class="card-text">Life is too short to wear Boring clothes. Explore a wide range of awesome clothes here !</p>
          <button class="btn btn-outline-danger"> Explore !</button>
        </div>
      </div>
    </div>
  </div>

  <!--Card2 -->
  <div class="card  m-3 " style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/card5.jpg" class="card-img p-2" alt="Electronics" height="100%">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Electronics and Gadgets</h5>
          <p class="card-text">Be fascinated with the electronic devices that you can mess around with!Explore a wide range of great gadgets here !</p>
          <button class="btn btn-outline-primary " > Explore !</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Card 22-->
<div class="container-fluid d-flex bgcolor" style="padding-left:10%;padding-right:10%;">
<!-- card 1 of 2-->
  <div class="card m-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/card4.JPG" class="card-img p-2" alt="TopWear" height="100%">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">FootWear</h5>
          <p class="card-text">
            Good Shoes take you to good places!!
          Take the road less travelled but first get some FANCY SHOES</p>
          <button class="btn btn-outline-success " > Explore !</button>
        </div>
      </div>
    </div>
  </div>

  <!--Card2 of 2 -->
  <div class="card  m-3 " style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/card3.jfif" class="card-img p-2" alt="TopWear" height="100%">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Explore Books</h5>
          <p class="card-text">We loose ourselves in books , we find ourselves there too!! Ecplore the latest bestsellers!</p>
          <button class="btn btn-outline-warning " > Explore !</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!--End of Cards-->

<div class="bgcolor2 mt-2 container">
<h3 class="font1 pt-2" style="text-align: center; color:white;">Shop By Top Brands</h3>
  <hr style="height: 2px; background-color:white;">

  <div class="d-flex justify-content-center">

  <div class="m-2">
    <a href="#"><img src="../../assets/brand2.jfif"></a>
  </div>
  <div class="m-2">
    <a href="#"><img src="../../assets/brand3.jfif"></a>
  </div>
  <div class="m-2">
    <a href="#"><img src="../../assets/brand4.jfif"></a>
  </div>
  </div>
  <div class="d-flex justify-content-center">

    <div class="m-2">
      <a href="#"><img src="../../assets/brand1.jfif"></a>
    </div>
    <div class="m-2">
      <a href="#"><img src="../../assets/brand5.jfif"></a>
    </div>
    <div class="m-2">
      <a href="#"><img src="../../assets/brand6.jfif"></a>
    </div>
  </div>
  </div>
  <div class="mt-2">
    <img src="../../assets/hfooter1.jpg" width="100%">
  </div>
</div>


